.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3rem;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $primary-font-size;
    transform: skewX(12deg);

    &>*{
        transform: skewX(-12deg);
    }

    &__shape{
        width: 15rem;
        height: 15rem;
        background-color: orangered;
        float: left;
        overflow: hidden;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(-12deg);
    }
    &_img{
        height: 100%;
        position: relative;
        transition: all .5s;
        
        transform: translateX(-4rem) scale(1.4);
    }
    &_text{
        transform: skewX(-12deg);
    }
    &_caption{
        @include centerV;
        text-align: center;
        color: $color-white;
        text-transform: uppercase;
        
        opacity: 0;
        font-size: 2.4rem;
        transition: all .5s;
    }
    &:hover &_caption{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    &:hover &_img{
        transform: scale(1);
        filter: blur(3px) brightness(30%);
       
    }
}