.u-center-text{
    text-align: center;
}
.u-margin-botttom-{
    &2{
        margin-bottom: 1.5rem !important;
    }
    &4{
        margin-bottom: 4rem !important;
    }
    &6{
        margin-bottom: 6rem !important;
    }
    &8{
        margin-bottom: 8rem !important;
    }
}